@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(70deg, rgb(114, 114, 253), rgb(115, 228, 115));
}

fieldset {
    height: 90%;
    border-radius: 10px;
    padding: 5px;
}

legend {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

section {
    border: 1px solid black;
    border-radius: 20px;
    height: 50vh;
    width: 45vh;
    background-color: aliceblue;
    padding: 10px;
}

.inputbox {
    margin-top: 50px;
    position: relative;
}

.label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.3s;
    pointer-events: none;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 100%;
    letter-spacing: 2px;
}

.input:focus ~ .label,
.input:valid ~ .label {
    top: -20px;
    font-size: 15px;
}

button {
    margin-top: 30px;
    margin-left: 95px;
    margin-bottom: 5px;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;

}

.singUp {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.singUp > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}